* {
  
  
font-family: 'Inconsolata', monospace;
}




.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #6f6969;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 93%;
  overflow-y: auto;
  width: 40%;
  max-width: 581px;
  top: -17%;
  left: 35%;
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin-top: 0;
}

.cerrar {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  background: black;
  border: none;
  cursor: pointer;
}

.cerrar:hover {
  color: #f7f7f7;
}
.line {
  margin: 0px 0px 21px 0px;
}
.secondline {
  margin: 0px 0px 21px 0px;
  width: 175px;
  margin-left: 123px;
}


* {
  box-sizing: border-box;
}
.bodyp{
  display: flex;
  align-content: space-around;
  justify-content: space-between;
}
.btnpadre{
  display: flex;
  margin: 17px;
  padding: 15px;
  position: relative;
}
.btnhistory{
  position: absolute;
  left: 20rem;

}
.cdnbody{
  display: flex;
  margin-top: 100px;
}
.cdn{
  margin-left: 27px;
  font-size: 21px;
}
.tbody{
  background: #000;
}
.tr{
  text-align: center;
}
.trkey{
  background:dimgrey;
}
.optn{
  font-size: 18px;
}
#filterOperator{
  height: 27px;
}
#filterField{
  height: 27px;
}
#filterValue{
  height: 27px;
}
.btn-borrar{
  margin-left: 30px;
}
.result-filter{
  font-family: sans-serif;
}
.btn-filter{
  height: 57px;
  width: 7rem;
  border: none;
}
.btn-version{
  position: absolute;
  left: 31rem;

}
.btn-help{
  position: absolute;
  left: 41rem;

}
.sidebar {
    height: 94vh;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar h1 {
  margin-top: 0;
}

.main-content {
  margin-left: 220px; /* Ajusta el valor según el ancho de la barra lateral */
  padding: 20px;
}
.count{
  display: flex;
}
select{
  font-family: circular;
}